/*
	Code Conventions
	* Let a space after first bracket {
	* Create Groups with this order
		- Group1: position,left/right/top/bottom,display,height,width,padding,margin
		- Group2: color,background-color
		- Group3: Border
		- Group4: font,cursor,text-shadow,white-space,line-height
		- GroupX: Any other property
	* Add Inherited elements after the parent properties
	* All variables should go to the top of the file/element
*/


$font-stack: "Open Sans","Droid Sans",Arial;
$font-color-dark: #4B4B4B;
$link-color: #157BC8;
$link-hover-color: #10598F;

@import 'pages/welcome';
@import 'pages/eradio';
@import 'pages/eradio_roadmap';
@import 'pages/blog';
@import 'pages/contact';

html {

	height: 100%;
}

body {

	position: relative;
	min-height:100%;
	padding-bottom:15px;
	margin:0;

	color: $font-color-dark;
	background-color:#F5F5F5;

	font-family: $font-stack;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
}

a {

	color: $link-color;
	text-decoration:none;

	&:visited {

		color: $link-color;
	}

	&:hover , &:active {

		color: $link-hover-color;
	}
}

nav.headerbar {

	position: relative;
	height: 50px;
	width:100%;

	color:#3F3F3F;
	background-color: white;

	border-bottom: 1px solid #D9D9D9;

	.content {

		position: relative;
		width:1024px;
		margin-left:auto;
		margin-right: auto;

		img.logo {

			position:absolute;
			left:0;
			top:15px;
			height:24px;
			width:auto;
		}

		.title {

			position:absolute;
			left:30px;
			top:14px;

			font-size:20px;
			font-weight:bold;
			text-shadow: 1px 1px 3px rgba(160, 160, 160, 1);
			cursor:pointer;
		}

		ul {

			float:right;
		    margin: 0;
		    padding: 0;

		    font-size: 15px;
			line-height: 50px;

			list-style-type: none;

			li {

				display: inline-block;
				margin-right: 24px;

				&:hover {

					color:black;
					cursor:pointer;
				}

				&.selected {

					font-weight: bold;
				}
			}
		}
	}
}

.button {

	display:inline-block;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:6px;
	padding-bottom: 6px;

	cursor:pointer;
}

.button-darkgrey {

	@extend .button;

	$box-shadow-color: #625E5E;

	color:white;
	background-color:#3C3C3C;

	border:1px solid #232323;

	-moz-box-shadow:inset 0px 1px 0px 0px $box-shadow-color;
	-webkit-box-shadow:inset 0px 1px 0px 0px $box-shadow-color;
	box-shadow:inset 0px 1px 0px 0px $box-shadow-color;

	&:hover {
		background-color:#444242;
	}
}

.button-blue {

	@extend .button;

	$box-shadow-color: #5CA7DD;

	color:white;
	background-color:#157BC8;

	border:1px solid #002562;

	-moz-box-shadow:inset 0px 1px 0px 0px $box-shadow-color;
	-webkit-box-shadow:inset 0px 1px 0px 0px $box-shadow-color;
	box-shadow:inset 0px 1px 0px 0px $box-shadow-color;

	&:hover {
		background-color:#268AD5;
	}
}


.margin-top-small {
	margin-top: 6px;
}

.margin-top-medium {
	margin-top: 12px;
}

.margin-top-large {
	margin-top: 24px;
}

.margin-bottom-small {
	margin-bottom: 6px;
}

.margin-bottom-medium {
	margin-bottom: 12px;
}

.margin-bottom-large {
	margin-bottom: 24px;
}

.header-medium {
	font-size: 24px;
}

.header-large {
	font-size: 28px;
}