#contact-page {

	min-width:100%;

	.wrapper1 {
		$full-width: 1024px;
		position:relative;
		width:1024px;
		margin-left:auto;
		margin-right:auto;
		padding-top:50px;
		padding-bottom:70px;

		.sub-wrapper {

			width: $full-width / 2;
			display: inline-block;
			vertical-align: top;
		}

		.contact_description {

			padding-right:60px;

			font-size: 16px;
		}

		.social-icons {

			font-size: 40px;

			i {

				color: #676767;

				cursor: pointer;
			}

			i:hover {

				color: #303030;
			}
		}

		.header {
			font-size: 24px;
		}
	}

	textarea {

		width: 400px;
		height: 300px;
		padding-left: 8px;
		padding-top: 8px;

		//border-radius: 8px;
		border: 1px solid #DBDBDB;

		background-color: #FFFFFF;

		font-size: 14px;

		resize: none;

		&:focus {
			outline:none;
			border-color:#6299DE;
		}
	}

	input[type="text"] {

		width:200px;
		height: 24px;
		padding-left: 8px;
		padding-right: 8px;

		border: 1px solid #DBDBDB;

		background-color: #FFFFFF;

		font-size: 14px;

		&:focus {

			border-color:#6299DE;

			outline:none;
		}
	}

	input[type="submit"] {

		width: 100px;
		height: 24px;
		background-color: #347BCD;
	}

	.input-label {

		display: inline-block;
		width: 60px;
	}
}