#eradio-roadmap-page {

    .wrapper1 {
        margin-left:auto;
        margin-right:auto;
        margin-top:50px;

        width:700px;

        h4.version-header {
            text-align:center;
        }

        table {
            width:100%;
            border: 1px solid #BEBEBE;
            box-shadow: 0px 0px 7px #BEBEBE;

            thead {
                background-color:#E5E5E5;

                th.task {
                    width:70%;
                }
            }
        }
    }
}
