#eradio-page {

	min-width:100%;

	.wrapper1 {

		position:relative;
		width:100%;

		background-color:#4B4B4B;

		.container {

			position:relative;
			width:1024px;
			margin-left:auto;
			margin-right:auto;
			padding-top:50px;
			padding-bottom:70px;

			color:#F6F6F6;

			img {

				width:450px;
				height:auto;
				margin-left:16px;
			}

			.content {

				position:absolute;
				right:0;
				top:90px;
				width:500px;

				h1 {

					margin-bottom:6px;

					text-align:center;
					text-shadow: 1px 1px 3px rgba(50, 50, 50, 1);
				}

				.subtitle {

					margin-bottom:32px;

					text-align:center;
					text-shadow: 1px 1px 3px rgba(50, 50, 50, 1);
				}

				.buttons-box {

					text-align: center;

					.button-container {

						display: inline-block;
						width: 200px;

						text-align: center;

						.button-subtitle {

							margin-top:4px;

							color:white;

							font-size: 12px;

						}
					}
				}

				.footer {

					margin-top:70px;

					font-size:12px;
					text-align:center;
				}
			}
		}
	}

	.info-header {

		margin-top:24px;

		color:#4B4B4B;

		font-size:24px;
		text-align:center;
	}

	.info-header-small {

		margin-top:12px;

		color:#4B4B4B;

		font-size:18px;
		font-weight: bold;
		text-align:center;
	}

	.info-box-row {

		position:relative;
		width:1024px;
		height:160px;
		margin-left:auto;
		margin-right:auto;
		padding-top:30px;

		white-space: nowrap;

		.info-box {

			position:relative;
			display:inline-block;
			width:190px;
			height:160px;
			margin-right:88px;

			color:#4B4B4B;

			text-align:center;
			white-space: initial;

			vertical-align:top;

			.title {

				margin-top:12px;

				font-size:15.5px;
			}

			.description {

				position:absolute;
				bottom:12px;

				font-size:12px;
			}

			i {

				margin-top:12px;

				font-size:40px;
			}
		}
	}

	.wrapper-involved {

		width:1024px;
		height:500px;
		margin-left:auto;
		margin-right:auto;

		text-align:center;

		.box {

			position: relative;
			display:inline-block;
			width:250px;
			height:300px;
			margin-right:10px;

			border:1px solid #9E9E9E;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;

			color:#4B4B4B;
			background-color:#f9f9f9;

			vertical-align: top;

		 	i {

		 		margin-top:30px;

		 		font-size:40px;
		 	}

		 	.details {

		 		position:absolute;
		 		top:140px;
		 		margin:7px;
		 	}

		 	a {

		 		width:100%;
		 		position:absolute;
		 		bottom:20px;
		 		left:0;
		 	}
		}
	}
}