#welcome-page {

	min-width:100%;

	.wrapper1 {

		width:100%;

		background-color:#ECECEC;

		border-bottom: 1px solid #E2E2E2;

		.eradio-advert {

			width:1024px;
			padding-top:80px;
			margin-left:auto;
			margin-right:auto;

			text-align:center;

			.title {

				color:$font-color-dark;

				font-size:28px;
			}

			.subtitle {

				color:$font-color-dark;

				font-size:18px;
			}

			.link {

				margin-top:20px;
				margin-bottom:20px;

				a {

					font-size:18px;
					text-decoration: none;
				}
			}

			img {

				margin-left:auto;
				margin-right:auto;
			}
		}
	}

	.wrapper2 {

		$full-width: 1024px;
		$block-space-width: 60px;
		$block-large-width: 370px;

		width: $full-width;
		//height:330px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:100px;
		margin-top:100px;

		.block {

			position:relative;
			display:inline-block;
			height:320px;
			width: ($full-width - $block-large-width - $block-space-width*2) / 2 ;


			vertical-align:top;

			.header {

				margin-bottom:30px;

				font-size:22px;
				text-align:center;
			}

			.post {

				width:100%;
				margin-top:7px;

				border-bottom:1px solid #A4A4A4;

				.title {

					margin-left:2px;

					font-size:14px;
				}

				.details {

					margin-top:2px;
					margin-bottom:7px;

					.date {

						display:inline-block;
						margin-left:2px;

						font-size:12px;
					}

					.link {

						display:inline-block;
						margin-right:2px;
						float:right;

						font-size:12px;
					}
				}
			}
		}

		.block-large {

			@extend .block;
			width: $block-large-width;

			.content {

				font-size:14px;
				text-align:center;

				.button-margin {
					margin-top:40px;
				}
			}
		}

		.space {

			display:inline-block;
			height:1px;
			width:0px;
			margin-left:30px;
			margin-right:30px;

			vertical-align:top;

		}
	}
}